# General
ENABLE_FIRMWARES=tasmota
# Scan script parameters for SSH access
# Note: The scan script content itself is stored in database settings (scan_script_content)
SCAN_SCRIPT_PRIVATE_KEY_FILE=private_key_file
SCAN_SCRIPT_SSH_USER=user
SCAN_SCRIPT_SSH_HOST=x.x.x.x

# Device access
DEVICE_PASS=p4ssW0rD

# NTP
NTP_SRV1=pool.ntp.org

# WiFi
WF1_SSID=
WF1_PASSWORD=
WF2_SSID=
WF2_PASSWORD=

# MQTT Bus
BUS_HOST=bus
BUS_PORT=1883
BUS_USERNAME=admin
BUS_PASSWORD=mqtt_password

# Zigbee Bridge
BRIDGE_HOST=
BRIDGE_DEVICES_CONFIG_PATH=/home/pi/zigbee2mqtt/data/devices.yaml
